.venv/
venv/
env/
myvenv/

__pycache__/
*.py[cod]
*$py.class

*.db
*.sqlite
*.sqlite3

logs/
static/uploads/
static/backups/
static/errors/
static/sounds/

*.log
*.tmp
*.bak
*.swp

*.pdf
*.doc
*.docx
*.xlsx
*.xls
*.csv
*.zip

site.db
app.db
.hintrc
app_temp.py

