{% extends "base.html" %}

{% block title %}Histórico Completo{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Histórico Completo de Tickets</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Data de Criação</th>
                    <th>Chamado em</th>
                    <th>Concluído em</th>
                    <th>Status</th>
                    <th>Guichê</th>
                    <th>Prioridade</th>
                    <th>Observações</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.ticket_number }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.called_at or 'N/A' }}</td>
                    <td>{{ ticket.concluded_at or 'N/A' }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.guiche or 'N/A' }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>{{ ticket.observation or 'Nenhuma observação adicionada.' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
